<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="  
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
            
    <bean name="jedisGenericObjectPoolConfig" class="org.apache.commons.pool2.impl.GenericObjectPoolConfig" >  
        <property name="maxWaitMillis" value="${order.jedis.maxWaitMillis}" />  
        <property name="maxTotal" value="${order.jedis.maxTotal}" />  
        <property name="minIdle" value="${order.jedis.minIdle}" />  
        <property name="maxIdle" value="${order.jedis.maxIdle}" />  
    </bean>  
      
    <bean id="jedisCluster" class="com.penn.test.jedis.JedisClusterFactory">
    	<property name="cacheEnabled" value="${order.jedis.enable}" />
        <property name="jedisServer" value="${order.jedis.server}" />  
        <property name="timeout" value="${order.jedis.timeout}" />  
        <property name="maxRedirections" value="${order.jedis.maxRedirections}" />
        <property name="genericObjectPoolConfig" ref="jedisGenericObjectPoolConfig" />  
    </bean>
	
</beans>